:root {
  --black: #0d0d0d;
  --red: #ff2d2b;

}

.scoreboard {
  width: 80%;
  margin: 2rem auto;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 5rem;
  border: 4px solid #aaaaaa;
}

.topRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  /* height: 20rem; */
}

.home,
.away {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  width: 15rem;
 padding-bottom: 10%;
}

.home {
  background-color:black;

}

.away {
  background-color: black;
}

.home__name,
.away__name,
.home__title,
.home__goal,
.away__goal,
.away__title {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem;
}

.period{
  padding-bottom: 20%;
  height: 30px;
}

.home__score,
.away__score {
  font-family: "Ozone";
  font-size: 7rem;
  width: 90%;
  text-align: center;
  background-color: var(--black);
  color: var(--red);
  padding: 5%;
}

.timer {
  font-family: "Ozone";
  font-size: 9rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--black);
  border: 2px solid white;
  border-radius: 6px;
}

.bottomRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  height: 20rem;

}

.penalty_home,
.away__penalty, 
.period {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
}


.home__value,
.home__score,
.period__value,
.away__score,
.away__value {
  font-family: "Ozone";
  font-size: 5rem;
  color: var(--red);
  width: 7rem;
  text-align: center;
  background-color: var(--black);
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1.6rem;
  border: 1px solid white;
}

.buttons {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

}

.homeButtons__touchdown,
.homeButton_pentalty,
.awayButtons__touchdown,
.awayButton_penalty,
.reset_home,
.reset_away
 {
  margin: 1rem;
  border-radius: 4px;
  color:white;
  background-color: black;
  flex-direction: column;
}
